<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,viewport-fit=cover"/>
    <title><%- title %></title>
    <!-- 使用CDN的CSS文件 -->
    <% for (const i of cdnCSS) { %>
    <link href="<%= i %>" rel="stylesheet" />
    <% } %>
    <!-- 使用CDN的JS文件 -->
    <% for (const i of cdnJS) { %>
    <script src="<%= i %>" defer></script>
    <% } %>
  </head>
  <body>
    <div id="app"></div>
    <script type="module" src="/src/main.ts"></script>
    <!-- <script src="//cdn.staticfile.org/eruda/2.4.1/eruda.min.js"></script>
    <script>eruda.init();</script> -->
  </body>
</html>
